/* Editor Styles
 *
 * This particular file includes several sections - which may be ultimately
 * separated into their own SASS files.
 *
 * For Now:
 *
 * - Fonts
 * - Sass Dependencies
 * - Elements
 * - Classes
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/
/* Fonts
 *
 * We must import the Web Fonts using the @import (rather than in functions.php)
 *
 * @since   1.0.0
 *====================================*/
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Muli:300,400|Nunito:400,300,700");
@import url("lib/bootstrap.min.css");
/* Sass Dependencies
 *
 * @since   1.0.0
 *====================================*/
/* Color Palette
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/
/* Mixins
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/
/*
 * This mixin is based on Chris Coyier's CSS ribbon.
 * http://css-tricks.com/snippets/css/corner-ribbon/
 *==================================================*/
/* Classes
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/
/* Color Palette
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/
/* Mixins
 *
 * @package    Mayer/css
 * @since      1.0.0
 *====================================*/
/*
 * This mixin is based on Chris Coyier's CSS ribbon.
 * http://css-tricks.com/snippets/css/corner-ribbon/
 *==================================================*/
/* line 10, ../sass/classes.scss */
.alignnone {
  max-width: 100%;
}
/* line 14, ../sass/classes.scss */
.alignnone img {
  max-width: 100%;
  height: auto;
}

/* line 23, ../sass/classes.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 31, ../sass/classes.scss */
.alignleft {
  float: left;
  margin: 10px 20px 0 0;
}

/* line 38, ../sass/classes.scss */
.alignright {
  float: right;
  margin: 10px 10px 0px 20px;
}

/* line 45, ../sass/classes.scss */
.gallery-caption {
  text-align: center;
}

/* line 49, ../sass/classes.scss */
.more-link-wrapper {
  padding-bottom: 40px;
}

/* line 104, ../sass/_mixins.scss */
.sticky .sticky-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
  z-index: 1;
}
/* line 116, ../sass/_mixins.scss */
.sticky .sticky-ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 4px 0;
  left: -6px;
  top: 20px;
  width: 120px;
  background-color: #f4f8fa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f8fa), to(#f4f8fa));
  background-image: -webkit-linear-gradient(top, #f4f8fa, #f4f8fa);
  background-image: -moz-linear-gradient(top, #f4f8fa, #f4f8fa);
  background-image: -ms-linear-gradient(top, #f4f8fa, #f4f8fa);
  background-image: -o-linear-gradient(top, #f4f8fa, #f4f8fa);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
/* line 144, ../sass/_mixins.scss */
.sticky .sticky-ribbon:before,
.sticky .sticky-ribbon:after {
  content: "";
  border-top: 3px solid #6e8900;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}
/* line 156, ../sass/_mixins.scss */
.sticky .sticky-ribbon:before {
  left: 0;
}
/* line 160, ../sass/_mixins.scss */
.sticky .sticky-ribbon:after {
  right: 0;
}

/* line 57, ../sass/classes.scss */
tr.odd {
  background-color: #e3e3e3;
}

/* line 61, ../sass/classes.scss */
.wp-caption-text {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

/* line 69, ../sass/classes.scss */
.wp-caption.aligncenter {
  max-width: 100%;
}
/* line 73, ../sass/classes.scss */
.wp-caption.aligncenter .size-large,
.wp-caption.aligncenter .size-full {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Elements
 *
 * The code below is based off of `content.scss` with modifications for TinyMCE
 *
 * @since   1.0.0
 *====================================*/
/* line 43, ../sass/editor-style.scss */
body {
  font-family: 'Source Sans Pro', Sans-serif;
  font-size: 16px;
  max-width: 720px;
}

/* line 51, ../sass/editor-style.scss */
a {
  color: #337A96;
}
/* line 55, ../sass/editor-style.scss */
a:hover {
  color: #2e3138;
  text-decoration: none;
}

/* line 64, ../sass/editor-style.scss */
address {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
}

/* line 73, ../sass/editor-style.scss */
blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #b5b5b5;
  text-align: justify;
}
/* line 81, ../sass/editor-style.scss */
blockquote p {
  line-height: 22px;
  font-size: 16px;
}

/* line 90, ../sass/editor-style.scss */
cite {
  display: block;
  font-style: italic;
  margin-top: 8px;
  border-bottom: 0;
}

/* line 99, ../sass/editor-style.scss */
code,
pre {
  background: #e3e3e3;
  color: #2e3138;
  font-family: 'Lucida Grande', Monotype, Consolas, "Courier New", Monospace;
  font-size: 16px;
}

/* line 109, ../sass/editor-style.scss */
var {
  font-family: Monospace, sans-serif;
  font-style: normal;
}

/* line 116, ../sass/editor-style.scss */
dd {
  margin-left: 12px;
}

/* line 120, ../sass/editor-style.scss */
dt {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 127, ../sass/editor-style.scss */
del,
ins {
  color: #000000;
}

/* line 132, ../sass/editor-style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Sans-serif;
  font-weight: bold;
  letter-spacing: -2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 142, ../sass/editor-style.scss */
h2 {
  font-size: 34px;
}

/* line 146, ../sass/editor-style.scss */
h3 {
  font-size: 32px;
}

/* line 150, ../sass/editor-style.scss */
h4 {
  font-size: 30px;
}

/* line 154, ../sass/editor-style.scss */
h5 {
  font-size: 28px;
}

/* line 158, ../sass/editor-style.scss */
h6 {
  font-size: 26px;
}

/* line 162, ../sass/editor-style.scss */
h1, h2, p {
  word-wrap: break-word;
}

/* line 166, ../sass/editor-style.scss */
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
}

/* line 175, ../sass/editor-style.scss */
th {
  font-size: 17px;
  border: 1px solid #e3e3e3 !important;
  padding: 2px;
  line-height: 32px;
}

/* line 184, ../sass/editor-style.scss */
td {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #e3e3e3 !important;
  padding: 2px;
  font-size: 15px;
  line-height: 32px;
}

/* line 195, ../sass/editor-style.scss */
ul, ol {
  font-size: 17px;
}

/* Classes
 *
 * These classes are borrowed and modified from `content.scss`.
 *
 * @since   1.0.0
 *====================================*/
/* line 206, ../sass/editor-style.scss */
.aligncenter,
.alignleft,
.alignright,
.alignnone {
  max-width: 100%;
  height: auto;
}

/* line 216, ../sass/editor-style.scss */
.wp-caption {
  background: none;
  border: 0;
}
/* line 221, ../sass/editor-style.scss */
.wp-caption .wp-caption-dd {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 10px;
}
